*.pkl
*.pyc
__pycache__/
.mypy_cache/
.venv/

*.jpg
*.jpeg
*.png
*.svg
*.pdf
*.mp4

data/eleyng/demonstrations

data/fluentrobotics/**/*.csv
data/fluentrobotics/**/*.mp4
data/fluentrobotics/**/*.tar*
data/fluentrobotics/**/*SUMS*
data/fluentrobotics/**/rosbag2*
